.FullArticle{
    width: 1000px;
    height: 800px;
    background-color: #fff;
    position: absolute;
    top: 30px;
    left: 0px;
    padding:10px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;

    overflow: scroll;
}

.FullArticle_title{
    text-align: left;
    overflow-wrap: break-word;
}

.FullArticle_text{
    text-align: left;
    overflow-wrap: break-word;
}

.FullArticle_top{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.FullArticle_CloseBtn{
    width: 32px;
    height: 32px;
}